{% load static %}

{% block customjs %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const expandableRows = document.querySelectorAll(".expandable-row");
    
        expandableRows.forEach(row => {
            row.addEventListener("click", function () {
                const detailRow = this.nextElementSibling;
    
                if (detailRow && detailRow.classList.contains("detail-row")) {
                    if (detailRow.classList.contains("hidden")) {
                        detailRow.classList.remove("hidden");
                    } else {
                        detailRow.classList.add("hidden");
                    }
                }
            });
        });
    });
</script>
{% endblock %}

<style>
    {% block font %}
    {% for font in info.fonts %}
    @font-face {font-family: '{{ font.name }}'; src: url({% static font.url %});}
    {% endfor %}
    {% endblock font %}
    
    #release{
        color: #202124;
        letter-spacing: 0.025em;
        max-width: 40rem;
        padding: 5rem 2rem;
        font-size: 0.75rem;
        margin: auto;
        overflow: auto;
        height: 100%;
        
        h1 {font-family: 'FuturaStd-Medium'; font-size:xx-large; padding-top: 3rem;}
        p {font-family: 'FuturaStd-Book'; color: #9CA3AF; padding-top: 0.5rem;}
        a:hover {text-decoration: underline; color: #2FA8E1;}
        
        table {width: 100%; margin-top: 3rem;}
        tbody {border-bottom-width: 1px;}
        tr {cursor: pointer;}
        th {font-family: 'FuturaStd-medium'; text-align: left; padding: 0.75rem; color: #9CA3AF; letter-spacing: 0.15em; text-transform: uppercase;}
        td {font-family: 'FuturaStd-Book'; text-align: left; padding: 0.75rem;}

        .expandable-row:hover {cursor: pointer; color: #2FA8E1; user-select: none;}
        .detail-row > td > div {background: #F4F4F4; padding: 0.5rem 0; max-width: 35rem; line-height: 2; white-space: pre-wrap; margin: -1rem 0rem 1rem 0.5rem;}
        .hidden {display: none;}
    }
</style>

{% block content %}
<div id="release">

    {% if info.picture_path %}
    <div style="border-bottom-width: 1px;">
        <img src="{% static info.picture_path %}" alt="company logo">
    </div>
    {% endif %}

    <h1>Release updates</h1>
    <a style="text-decoration: underline;">{{info.product_name}}</a>
    <span>by</span>
    <a  href="{{info.author_url}}" target="_blank">{{info.author}}</a>
    {% if info.contact_email %}
        <span>|</span>
        <a href="{{product.contact_email}}">You need help or have a question?</a>
    {% endif %}
    {% if version %}
    <p>v{{ version }} released on {{ release_date }}</p>
    {% endif %}

    <div>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th style="width:30%">Version</th>
                </tr>
            </thead>
            {{ changelog|safe }}
        </table>
   </div>
</div>
{% endblock %}
